<h3>Select file to add</h3>

<form action="http://localhost:1338/filelist/add" enctype="multipart/form-data" method="post">
    <input type="text" name="title">
    <input type="file" name="fileupload" multiple="true">
    <input type="submit" value="Upload">
</form>
